<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop.xsd
                http://www.springframework.org/schema/tx
                http://www.springframework.org/schema/tx/spring-tx.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置bean
        给bean的属性赋值的方式：
        1. 通过value属性赋值；
        2. 通过ref属性赋值
    -->
    <bean id="employee" class="zongzhe.java_basic.spring.beans.Employee">
        <!-- 给属性赋值
        name属性：设置bean的属性名
        value属性：设置bean的值
        -->
        <property name="id" value="1"></property>
        <property name="lastName" value="Zongzhe"></property>
        <property name="email" value="zongzhe_chen@sina.com"></property>
        <property name="dept" ref="department"></property>
        <!-- 通过级联属性修改属性的值 -->
        <property name="dept.id" value="3"></property>
    </bean>

    <bean id="department" class="zongzhe.java_basic.spring.beans.Department">
        <property name="id" value="2"></property>
        <property name="name" value="IT"></property>
    </bean>
</beans>